body {

}   

#mydiv,#newDiv {
position: absolute;
  z-index: 11;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
    resize: vertical;
    overflow: hidden;
    overflow-y: visible;
    min-height: fit-content; 
    max-width: 150px;
}
/*
#newDiv {
position: absolute;
  z-index: 12;
  background-color: lightgreen;
  border: 1px solid #d3d3d3;
  text-align: center;
    resize: vertical;
    overflow: hidden;
    overflow-y: visible;
    min-height: fit-content; 
    max-width: 150px;
}*/
#mydivheader, #newDivheader {
  padding: 10px;
  cursor: move;
  z-index: 2;
  background-color: #2196F3;
  color: #fff;
}


textarea {
    resize: vertical;
    overflow-wrap: normal;
    word-wrap: break-word;
}

.text {
    width: inherit;
    padding-bottom: 10px; 
    resize: vertical;
    overflow-wrap: normal;
    word-wrap: break-word;
}



#Content1, #Content2 {border-bottom: 1px solid #4588ba; margin-bottom:10px;}

div p {background: #4588ba; line-height: 80px; font-size: 2em; font-family: sans-serif; color: white; margin: 0; padding-left: 30px;}