body {

    overflow: hidden;
    height: auto;
    width: auto;
}   

#myDiv,#newDiv {
position: absolute;
  z-index: 10;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
    resize: vertical;
    overflow: hidden;
    overflow-y: visible;
    min-height: fit-content; 
    max-width: 150px;
}
#myDivHeader, #newDivHeader {
  padding: 10px;
  z-index: 12;
  background-color: #2196F3;
  color: #fff;
}
#newDiv:focus-within{
    border: 1.5px solid red;
}

.text {
    width: inherit;
    padding-bottom: 10px; 
    resize: vertical;
    overflow-wrap: normal;
    word-wrap: break-word;
}

#Content1,#Content2 {
    border-bottom: 1px solid #4588ba; margin-bottom:10px;
}
div p {
    background: #4588ba;
    line-height: 80px;
    font-size: 2em;
    font-family:sans-serif;
    color: white;
    margin: 0;
    padding-left: 30px;
}

#DELETE{
    position: absolute;
    left: 100px;
    bottom: 100px;
}
#DELETE1{
    position: absolute;
  z-index: 10;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
 width: 200px;
    height: 100px;
    float: left;
    margin: 200px;
}
#svg{
    position: absolute;
    overflow: hidden;
}

.status{
    position: relative;
    cursor:pointer;
    z-index: 200;
    color: black;
    flex: left;
    max-height: 30px;  
    bottom: 0%;
    background-color: dimgray;
}
#inProgress{
     background-color: yellow;
        border:1px solid black;
    bottom: 0;
}
#done{
        border:1px solid black;
    margin-bottom: 10px;
}
#box1{
  z-index: 12;
  background-color: #2196F3;
  color: #fff;
    width: 150px;
    height: 200px;
    border: 1px solid black;
    display: none;
}
#newMember{
    border: 1px solid black; width:100px; margin-left: 25px; margin-top: 10px
}

#tempdiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#tempdivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}