/* CSS */
body {
    background-image: url(../images/grid_32.jpg);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#mainPageContainer{
    position: relative;
}

#navBar{
    display: block;
}

.navbarHorizontal {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    background-color: rgb(50, 50, 50);
}

.navbarHorizontal button {
    background-color: rgb(50, 50, 50);
    color: aliceblue;
    border: 0;
    font-family: sans-serif;
    font-size: 16px;
}

/*.navbarHorizontal a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/

#projectName{
    margin-top: 15px;
    font-size: 16px;
    font-family: sans-serif;
    color: white;
}

#createProject:hover{
    cursor: pointer;
    background-color: red;
}

#createProjectPopUp{
    position: absolute;
    top: 150px;
    left: 850px;
    width: 200px;
    height: 300px;
    z-index: 3;
    background-color: rgb(255, 245, 195);
    display: none;
}

#closeCreateProjectPopUp{
    position: absolute;
    top: 225px;
    left: 0px;
    width: 200px;
    height: 75px;
    font-family: sans-serif;
    font: 10px;
    background-color: rgb(200, 170, 80);
}

#closeCreateProjectPopUp:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgb(25, 25, 150);
}

#setProjectName{
    position: absolute;
    left: 25px;
    top: 30px;
    width: 150px;    
    outline: none;
    box-shadow: 0 0 1px 1px rgb(25, 25, 25);
}

#setProjectName::placeholder{
    font-family: cursive;
    font-size: 15px;
    color: black;
}

#addMembers:hover{
    cursor: pointer;
    background-color: red;
}

#addMembersPopUp{
    position: absolute;
    top: 150px;
    left: 850px;
    width: 200px;
    height: 300px;
    z-index: 3;
    background-color: rgb(255, 245, 195);
    transition-property: none;
    transition-duration: 2s;
    transition-timing-function: linear;
    display: none;
}

#closeAddMemberPopUp{
    position: absolute;
    top: 225px;
    left: 0px;
    width: 200px;
    height: 75px;
    font-family: sans-serif;
    font: 10px;
    background-color: rgb(200, 170, 80);
}

#closeAddMemberPopUp:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgb(25, 25, 150);
}

#setMember{
    position: absolute;
    left: 25px;
    top: 30px;
    width: 150px;    
    outline: none;
    box-shadow: 0 0 1px 1px rgb(25, 25, 25);
}

#setMember::placeholder{
    font-family: cursive;
    font-size: 15px;
    color: black;
}

#addMemberBtn{
    position: absolute;
    top: 150px;
    left: 65px;
    width: 70px;
    height: 35px;
    font-family: sans-serif;
    font: 10px;
    background-color: rgb(200, 70, 80);
}

#addMemberBtn:hover{
    cursor: pointer;
    box-shadow: 0 0 1px 1px rgb(25, 25, 150);
}

#projectMembers {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 16px 14px;
    background-color: rgb(50, 50, 50);
    margin: 0;
}

#projectMembers:hover{
    cursor: pointer;
    background-color: red;
}

#projectMembers:hover #projectMembersContent {
    display:block;
}

#projectMembersContent {
    display: none;
    position: absolute;
    margin-top: 15px;
    background-color: rgb(50, 50, 50);
    left: 229px;
    width: 157.5px;
    z-index: 1;
    font-family: sans-serif;
}

#projectMembersContent a {
    float: none;
    color: aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#projectMembersContent a:hover {
    background-color: red;
}

.navbarVertical {
    flex-direction: column;
    position: absolute;
    text-align: left;
    min-width: 66,5px;
    max-width: 66,5px; 
    height: 100%;
    z-index: 1;
    background-color: rgb(50, 50, 50);
}

.navbarVertical a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdownVertical .dropbtnVertical {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: rgb(50, 50, 50);
    margin: 0;
}

.navbarVertical a:hover, .dropdownVertical:hover .dropbtnVertical, .dropdownVertical:hover, .dropbtnVertical{
    background-color: red;
}

.dropdown-contentVertical {
    margin-top: -32px;
    left: 65.5px;
    display: none;
    position: absolute;
    background-color: rgb(50, 50, 50);
    min-width: 100px;
    z-index: 1;
    font-family: sans-serif;
}

.dropdown-contentVertical a {
    float: none;
    color: aliceblue;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-contentVertical a:hover {
    background-color: red;
}

.dropdownVertical:hover .dropdown-contentVertical{
    display: flex;
    flex-direction: column;
}

#mainCanvas{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

#logIn{
    position: absolute;
    top: 0;
    margin-left: 100px;
    border: 0;
    left: 1700px;
    width: 100px;
    height: 50px;
    background-color: rgb(50, 50, 50);
    color: white;
    font-size: 16px;
    font-family: sans-serif;
}

#logIn:hover{
    cursor: pointer;
    background-color: red;
}

#showLogInPopUp{
    position: absolute;
    top: 150px;
    left: 850px;
    width: 200px;
    height: 300px;
    z-index: 3;
    background-color: rgb(255, 245, 195);
    display: none;
    font-family: sans-serif;
}

#createAccount{
    position: absolute;
    top: 125px;
    left: 0px;
    width: 200px;
    height: 75px;
    border: 0;
    font-family: sans-serif;
    background-color: rgb(200, 170, 80);
}

#createAccount:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgb(25, 25, 150);
}

#logInAsUser{
    position: absolute;
    top: 225px;
    left: 0px;
    width: 200px;
    height: 75px;
    border: 0;
    font-family: sans-serif;
    background-color: rgb(200, 170, 80);
}

#logInAsUser:hover {
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgb(25, 25, 150);
}