/* Stylesheet for every element on the page */
body{
    background-image: url(../images/grid_32.jpg);
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#mainPageContainer{
    position: relative;
}

#navbarHorizontal{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgb(50, 50, 50);
    height: 50px;
    border-top:1px solid rgb(100, 100, 120);
    border-bottom:1px solid rgb(100, 100, 120);
}

#navbarHorizontal button{
    background-color: inherit;
    color: greenyellow;
    border: 0;
    font-family: sans-serif;
    font-size: 16px;
}

#navbarHorizontal button:hover{
    background-color: rgb(220, 30, 30);
    cursor: pointer;
}

#flexContainerFirstThree{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 50%;
}

#projectName{
    margin-top:15px;
    font-size: 16px;
    font-family: sans-serif;
    color: dodgerblue;
}

#navbarVertical{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    background-color: rgb(50, 50, 50);
    height: 1000px;
    width: 50px;
}

#navbarVertical button {
    background-color: inherit;
    color: greenyellow;
    border: 0;
    font-family: sans-serif;
    font-size: 16px;
}

.popUps{
    border-radius: 5%;
    position: absolute;
    top: 600px;
    left: 875px;
    width: 200px;
    height: 300px;
    z-index: 2;
    background-color: rgb(40, 40, 40);
    visibility: hidden;
    opacity: 0;
    transition: top 2s ease, opacity 1.5s ease;
    
}

.popUpButtons{
    width: 200px;
    height: 75px;
    font-family: sans-serif;
    font: 10px;
    background-color: rgb(200, 170, 80);
}

.popUpButtons:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 2px rgb(40, 140, 20);
}
