body {
  margin: 0;
  font: 13px sans-serif;
  position: relative;
  width: 720px;
  height: 410px;
}
svg:focus {
  outline: none;
}
.container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
svg { 
    background-color: white;
}
.path{
    stroke:rgb(247, 162, 4);
    stroke-width:5;
}