/* CSS */
body {
    background-image: url(../images/grid_32.jpg);
    margin: 0;
    padding: 0;
}

#navBar{
    display: block;
}

.navbarHorizontal {
  display: block;
  position: absolute;
  width: 100%;
  background-color: rgb(50, 50, 50);
}

.navbarHorizontal a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdownHorizontal {
  float: left;
  overflow: hidden;
}

.dropdownHorizontal .dropbtnHorizontal {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: rgb(50, 50, 50);
  margin: 0;
}

.navbarHorizontal a:hover, .dropdownHorizontal:hover .dropbtnHorizontal {
  background-color: red;
}

.dropdown-contentHorizontal {
  display: none;
  position: absolute;
  background-color: rgb(50, 50, 50);
  min-width: 100px;
  z-index: 1;
  font-family: sans-serif;
}

.dropdown-contentHorizontal a {
  float: none;
  color: aliceblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contentHorizontal a:hover {
  background-color: red;
}

.dropdownHorizontal:hover .dropdown-contentHorizontal {
  display: flex;
  flex-direction: column;
}

.navbarVertical {
  display: block;
  position: absolute;
  height: 100%;
  background-color: rgb(50, 50, 50);
}

.navbarVertical a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdownVertical {
  float: left;
  overflow: hidden;
}

.dropdownVertical .dropbtnVertical {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: rgb(50, 50, 50);
  margin: 0;
}

.navbarVertical a:hover, .dropdownVertical:hover .dropbtnVertical {
  background-color: red;
}

.dropdown-contentVertical {
  display: none;
  position: absolute;
  background-color: rgb(50, 50, 50);
  min-width: 100px;
  z-index: 1;
  font-family: sans-serif;
}

.dropdown-contentVertical a {
  float: none;
  color: aliceblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contentVertical a:hover {
  background-color: red;
}

.dropdownVertical:hover .dropdown-contentVertical{
  display: flex;
  flex-direction: column;
}
