/* CSS */
body {
    background-image: url(/images/grid_32.jpg);
}

.main-page-container {
   
}

.ingress {
    grid-area: ingress;
    text-align: center;
    padding-top: 25px;
}

.ingress h1{
    font-size: 22px
}

.ingress p{
    font-family: serif;
    font-style: italic;
    font-size: 20px;
}

#sideBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aqua;
    width: 100px;
}

.navigationBar {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
}

.navigationBar li {
    font-family: sans-serif;
}

/* Change the color of links on hover */
.navigationBar a:hover {
    background-color: #dddddd;
    color: black;
}

/* Add a color to the active/current link */
.navigationBar a.active {
    padding-right: 20px;
    color: blue;
}

.banner{
    grid-area: banner;
    align-content: center
    
}

/* Add a black background color to the top navigation */
.footer {
    grid-area: footer;
    text-align: center;
    
}
/* Style the links inside the navigation bar */

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    
}


