body {

    overflow: hidden;
    height: auto;
    width: auto;
}   

#myDiv,#newDiv,.newDiv {
position: absolute;
  z-index: 10;
  background-color: #f1f1f1;
  outline: 2px solid black;
  text-align: center; 
    overflow-y: visible;
    min-height: fit-content; 
    max-width: 150px;
    max-height: 80px;
    border-radius: 4px;
    visibility: hidden;
}
#myDivHeader, #newDivHeader,.newDivHeader{
  padding: 10px;
  z-index: 12;
  background-color: grey;
  color: #000;
    font-weight: bold;
}
.newDivHeader:hover{
    background-color: green;
    cursor: pointer;
}
.newDiv:focus-within{
    outline: 2.5px solid blue;
}
.node{
    position: absolute;
    width: 20px;
}

#w {
    top: 104px;
    left: -12px;
}
#e{
    top: 104px;
    left: 141px; 
    transform: scaleX(-1);
}
.text {
    width: inherit;
    padding-bottom: 10px; 
    resize: vertical;
    overflow-wrap: normal;
    word-wrap: break-word;
}

#Content1,#Content2 {
    border-bottom: 1px solid #4588ba; margin-bottom:10px;
}
div p {
    background: #4588ba;
    line-height: 80px;
    font-size: 2em;
    font-family:sans-serif;
    color: white;
    margin: 0;
    padding-left: 30px;
}
#svg,#g-container,#foreignContainer{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    background-image: url("Images/grid_32.jpg");
    
}
#inProgress,#newInProgress,.newInProgress,#done,#newDone,.newDone{
    position: relative;
    cursor:pointer;
    color: black;
    font-weight:bold;
    flex: left;
    max-height: 20px;  
    bottom: 0%;
    background-color: ghostwhite;
    min-width: 74px;
    padding: 1px;
    display: block;
    float: right;
    font-size: 12px;
     outline:2px solid black;
}
.box{
    z-index: 12;
    background-color: #f1f1f1;
    color: #000; /*black*/
    width: 148px;
    min-height:fit-content;
    height: 130px;
    outline: 2px solid black;
    display: none;
    margin-top: 2px;
}
.box div{
    border: 1px solid black;
    width:100px;
    margin-left:25px;
    margin-top: 10px;
}
#dateInput{
    align-content: center;
}
#deleteButton{
    position: absolute;
    right:0px;
    margin: 1px;
}
.template{
     outline: 2px solid black;
    max-width: fit-content;
    margin-left:25px;
    margin-top: 10px;
    padding: 5px;
    font-size: 19px;
    flex-flow: nowrap;
    
}


