
* {
  box-sizing: border-box;
}
/* Style the body */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0
}

/* Style the top navigation bar */
/*.navbar {
  display: flex;
  background-color: #333;
    overflow: hidden;
    max-height: 40px;
  
}
#flexContainerFirstThree{
    flex-flow:nowrap;
    justify-content: space-between;
    width: 40%;
}
#projectName{
    padding: 12px;
    overflow: hidden;
    text-align: left;
}
.navbar #logIn{
    align-self: flex-end;
    border: 1px solid white;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}*/
/*-----------------------------*/
#navbarHorizontal{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: rgb(50, 50, 50);
    height: 50px;
    border-bottom:2px solid rgb(250, 250, 250);
}

#navbarHorizontal button{
    background-color: inherit;
    color: rgb(240, 240, 240);
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#navbarHorizontal button:hover{
    background-color: rgb(220, 30, 30);
    cursor: pointer;
}

#flexContainerFirstThree{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 50%;
}

#projectMembersContent{
    background-color: rgb(40, 40, 40);
    color: rgb(240, 240, 240);
}

#flexContainerProjectName{
    justify-content: flex-start;
    width: 40%;
}

#projectName{
    margin-top:15px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: rgb(240, 240, 240);
}

#projectName:hover{
    cursor: pointer;
}

/* Column container */
.row {  
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
  
} 

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
#sideBar {
    background-color: rgb(50,50,50);
    padding: 20px;
    width:10%;
    border-right: 2px solid rgb(250, 250, 250);
    }

/* Main column */
.mainContent {
    display: flex;
    width: 90%;
    overflow: hidden;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other 
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}*/

#testTemplate{
    position: absolute;
    left: 9px;
    width: 8%;
    border: 1px solid black;
}

#testTemplateCheckbox{
    position: absolute;
    left: 9px;
    width: 8%;
    border: 1px solid black;
}

.popUps{
    position: absolute;
    top: 600px;
    left: 50%;
    width: 200px;
    height: 200px;
    z-index: 2;
    background-color: rgb(250, 250,250);
    visibility: hidden;
    opacity: 0;
    transition: top 0.5s ease, opacity 1.5s ease;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.popUps input{
    position: absolute;
    width: 180px;
    top: 10px;
    left: 7.5px;
    font-family: 'Roboto', sans-serif;
}

.popUps input::placeholder{
    color: black;
}

#memberAddedFeedback{
    position: absolute;
    color: rgb(100, 100, 100);
    font-size: 12px;
    top: 35px;
    left: 10px;
    text-shadow: 0px 1px 1px rgb(80, 80, 80);
    visibility: hidden;
}

#LogInPopUpA{
    position: absolute;
    top: 15px;
    width: 200px;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.popUpButtons1{
    position: absolute;
    top: 60px;
    left: 25px;
    width: 150px;
    height: 50px;
    color: black;
    font: 18px;
    background-color: rgb(250, 250, 250);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.popUpButtons2{
    position: absolute;
    top: 125px;
    left: 25px;
    width: 150px;
    height: 50px;
    color: black;
    font: 18px;
    background-color: rgb(250, 250, 250);
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.popUpButtons1:hover {
    cursor: pointer;
    box-shadow: 0 0 7px 0px rgb(110, 130, 190);
}

.popUpButtons2:hover{
    cursor: pointer;
    box-shadow: 0 0 7px 0px rgb(110, 130, 190);
}

#createAccount{
    position: absolute;
    top: 175px;
    width: 200px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-align: center;
    color: rgb(60, 0, 255);
}

#createAccount:hover{
    cursor: pointer;
}

#logInAsUser{
    top: 60px;
    background-color: rgb(240, 240, 255);
}

#darkLightMode{
    position: absolute;
    left: 4%;
    bottom: 50px;
}

#darkLightMode:hover{
    cursor: pointer;
}